*{
    margin: 0;
    padding: 0;
    font-weight: bolder;
}
.lottery{
    position: absolute;
    left: 50vw;
    top: 5vh;
    width: 10vw;
    margin-left: -5vw;
    font-size: 14px;
}
.lottery__num{
    width: 100px;
    height: 20px;
    margin-bottom: 10px;
}
.special{
    color: red;
}
.lottery__button{
    margin-top: 10px;
}